---
- name: Install deps for docker install
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true
- name: add docker pgp key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: add docker repo
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: install docker
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    update_cache: true 

- name: allow ubuntu user to use docker engine
  shell: "usermod -aG docker ubuntu"

- name: start docker
  ansible.builtin.service:
   name: docker 
   state: started

- name: enable docker
  ansible.builtin.service:
    name: docker
    enabled: yes

- name: install pip3
  apt:
    name: python3-pip

- name: install python docker sdk for ansible docker plugin
  become_user: ubuntu
  pip:
    name:
      - docker
      - docker-compose

  

  
